<li class="blog-post clearfix">
    <div class="post-media">
        <a href="/case_single?prevPage=news">
            <img src="img/pics/case_photo.jpg" class="img-responsive"
                alt="Construction HTML Template" />
        </a>
    </div><!-- .post-media end -->
    <div class="icon-container">
        <i class="fa fa-calendar"></i>
    </div>

    <div class="post-body">
        <div class="post-date">
            <p>
                date X, year N
            </p>
        </div>
        <a href="/case_single?prevPage=news">
            <h3>Case name, short story</h3>
        </a>

        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam necessitatibus dignissimos hic ducimus aperiam, unde quo suscipit in tenetur impedit saepe, culpa, accusamus deleniti ipsa a corrupti et facilis nulla.
            <a href="/case_single?prevPage=news" class="read-more">
                <span>
                    [...]
                </span>
            </a>
        </p>


    </div><!-- .post-body end -->
</li><!-- .blog-post end -->