<div class="feature-body">
    <span class="icon-container triggerAnimation animated" data-animate='zoomIn'>
        <img src="/img/svg/law_book.svg" class="img-responsive"
            alt="cordless screw driver icon" />
    </span>
    <div class="custom-heading style-1">
        <a href="/contacts">
            <h4>Get a quick quote</h4>
        </a>
    </div><!-- .custom-heading end -->
    <p>
        Need protection or legal assistance? Get a quick quote!
    </p>
</div><!-- .feature-body end -->