<!-- .page-content start -->
<div class="page-content quote style-1 custom-background bkg-black dark">
    <!-- .container start -->
    <div class="container">
        <!-- .row start -->
        <div class="row mb-0">
            <!-- .col-md-9 start -->
            <div class="col-md-9 col-sm-9 col-xs-12 mb-0">
                <div class="quote-content">
                    <div class="text">
                        <h3>TEXT</h3>
                    </div>
                </div>
            </div><!-- .col-md-9 end -->
            <!-- .col-md-3 start -->
            <div class="col-md-3 col-sm-3 col-xs-12 mb-50">
                <div class="quote-btn">
                    <a href='/contacts' class="btn btn-primary float-right">
                        Get Support
                    </a>
                </div>
            </div><!-- .col-md-3 end -->
        </div><!-- .row end -->
    </div><!-- .container end -->
</div><!-- .page-content.custom-background end -->