                        <!-- .widget_recent_entries start -->
                        <li class="widget widget_recent_entries">
                            <div class="title">
                                <h3>Latest Cases</h3>
                            </div>

                            <ul>
                                <li>
                                    <a href="/news_single">
                                        <i class="fa fa-calendar"></i>
                                        <p>Case name,<span class="post-date">date X year N</span></p>
                                    </a>
                                </li>

                                <li>
                                    <a href="/news_single">
                                        <i class="fa fa-file-pdf-o"></i>
                                        <p>Case name,<span class="post-date">date X year N</span></p>
                                    </a>
                                </li>

                                <li>
                                    <a href="/news_single">
                                        <i class="fa fa-calendar"></i>
                                        <p>Case name,<span class="post-date">date X year N</span></p>
                                    </a>
                                </li>
                            </ul>
                        </li><!-- .widget_recent_entries end -->