<aside class="col-md-4 aside">
    <ul class="aside-widgets">
        <li class="widget widget_nav_menu clearfix">
            <div class="title">
                <h3>Lawyer Company</h3>
            </div>

            <ul class="menu">
                <li class="menu-item">
                    <a href="/about_me">About company</a>
                </li>

                <li class="menu-item">
                    <a href="/services">Services</a>
                </li>

                <li class="menu-item">
                    <a href="/projects">Won cases</a>
                </li>
            </ul><!-- .menu end -->
        </li><!-- .widget.widget_nav_menu end -->