    <!-- .page-content start -->
    <div class="page-content quote style-2 custom-img-background dark bkg-img1 mb-70">
        <!-- .container start -->
        <div class="container">
            <!-- .row start -->
            <div class="row mb-0">
                <!-- .col-md-12 start -->
                <div class="col-md-12 centered mb-0">
                    <div class="custom-heading style-2">
                        <h2>My mission</h2>
                    </div><!-- .custom-heading end -->
                    <div class="text triggerAnimation animated" data-animate='fadeInDown'>
                        <p style="text-shadow: 0.5px 0.5px 2px black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ratione quidem, accusamus quo corrupti aliquam autem doloremque eligendi iusto ullam deleniti dignissimos fugit ut voluptate itaque? Iste dolor quam dolore.</p>
                    </div>
                    <p class="author-name triggerAnimation animated" data-animate='fadeInDown' style="text-shadow: 0.5px 0.5px 2px black;">Ⓒ Saul Goodman</p>
                </div><!-- .col-md-12 end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </div><!-- .page-content.custom-img-background end -->