<!-- Testimonial carousel start -->
<div class="carousel-container">
    <div id="testimonial-carousel" class="owl-carousel owl-theme">
        <div class="item">
            <div class="testimonial-background">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo asperiores dicta quod voluptatum dolor fugit! Optio quas corporis a nobis autem veritatis neque doloribus sed sapiente laboriosam, explicabo tenetur iusto!</p>
            </div>
            <p class="testimonial-author">Kimberly Wexler,</p>
            <p class="testimonial-author-position">S&C</p>
        </div>
        <div class="item">
            <div class="testimonial-background">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est ipsam deserunt impedit aperiam rem. Est nemo, velit odit saepe repellendus aliquam rem, impedit quis ad recusandae quas eos non quasi.</p>
            </div>
            <p class="testimonial-author">- Someone
            </p>
        </div>
        <div class="item">
            <div class="testimonial-background">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo asperiores dicta quod voluptatum dolor fugit! Optio quas corporis a nobis autem veritatis neque doloribus sed sapiente laboriosam, explicabo tenetur iusto!</p>
            </div>
            <p class="testimonial-author">Howard Hamlin,</p>
            <p class="testimonial-author-position">HHM</p>
        </div>
        <div class="item">
            <div class="testimonial-background">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est ipsam deserunt impedit aperiam rem. Est nemo, velit odit saepe repellendus aliquam rem, impedit quis ad recusandae quas eos non quasi.</p>
            </div>
            <p class="testimonial-author">- Someone
            </p>
        </div>
    </div><!-- .owl-carousel.owl-theme end -->
</div><!-- .carousel-container end -->