<%- include('partials/header.ejs') %>

        <!-- .page-content start -->
        <div class="page-content custom-img-background dark page-title page-title-1 mb-70">
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <!-- .col-md-6 start -->
                    <div class="col-md-6">
                        <div class="custom-heading style-1 triggerAnimation animated" data-animate='fadeInUp'>
                            <h1>Completed <span>cases</span></h1>
                        </div><!-- .custom-heading.style-1 end -->
                    </div><!-- .col-md-6 end -->
                    <!-- .col-md-6 start -->
                    <div class="col-md-6">
                        <ol class="breadcrumb">
                            <li>You are here:</li>
                            <li><a href="/">Home</a></li>
                            <li class="active">Completed cases</li>
                        </ol>
                    </div><!-- .col-md-6 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div><!-- .page-content end -->

        <!-- .page-content start -->
        <div class="page-content">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <div class="col-md-12 centered triggerAnimation animated" data-animate='fadeIn'>
                        <ul class="breadcrumb filters">
                            <li class="active"><a href="#" data-filter="*">All</a></li>
                            <li><a href="#" data-filter=".criminal">Criminal</a></li>
                            <li><a href="#" data-filter=".non-criminal">Non-Criminal</a></li>
                            <li><a href="#" data-filter=".specials">Specials</a></li>
                        </ul>
                    </div><!-- .col-md-12 end -->                    
                </div><!-- .row.gallery-filters end -->
            </div><!-- .container end -->
        </div><!-- .page-content end -->

        <div class="page-content">
            <div class="container">
                <div class="row mb-40">
                    <ul id="galleryitems" class="isotope isotopeitems-full">

                        <li class="col-xs-6 col-md-4 isotope-item criminal">
                            <figure class="gallery-item-container">
                                <div class="gallery-img">
                                    <img src="img/pics/criminalCase.jpg" class="img-responsive" alt="Saul Goodman Lawyer Case Photo"/>

                                    <div class="hover-mask-container">
                                        <div class="hover-zoom">
                                            <a href="/case_single?prevPage=cases">Case name
                                                <span class="icon-container">
                                                    <img src="img/svg/arrow.svg" class="img-responsive" alt="arrow icon"/>
                                                </span>
                                            </a>
                                        </div><!-- .hover-zoom end -->
                                    </div><!-- .hover-mask-container end --> 
                                </div><!-- .gallery-img end -->
                            </figure><!-- .gallery-item-container end -->
                        </li><!-- .isotope-item end -->

                        <li class="col-xs-6 col-md-4 isotope-item non-criminal">
                            <figure class="gallery-item-container">
                                <div class="gallery-img">
                                    <img src="img/pics/nonCriminalCase.jpg" class="img-responsive" alt="Saul Goodman Lawyer Case Photo"/>

                                    <div class="hover-mask-container">
                                        <div class="hover-zoom">
                                            <a href="/case_single?prevPage=cases">Case name
                                                <span class="icon-container">
                                                    <img src="img/svg/arrow.svg" class="img-responsive" alt="arrow icon"/>
                                                </span>
                                            </a>
                                        </div><!-- .hover-zoom end -->
                                    </div><!-- .hover-mask-container end --> 
                                </div><!-- .gallery-img end -->
                            </figure><!-- .gallery-item-container end -->
                        </li><!-- .isotope-item end -->

                        <li class="col-xs-6 col-md-4 isotope-item non-criminal">
                            <figure class="gallery-item-container">
                                <div class="gallery-img">
                                    <img src="img/pics/nonCriminalCase.jpg" class="img-responsive" alt="Saul Goodman Lawyer Case Photo"/>

                                    <div class="hover-mask-container">
                                        <div class="hover-zoom">
                                            <a href="/case_single?prevPage=cases">Case name
                                                <span class="icon-container">
                                                    <img src="img/svg/arrow.svg" class="img-responsive" alt="arrow icon"/>
                                                </span>
                                            </a>
                                        </div><!-- .hover-zoom end -->
                                    </div><!-- .hover-mask-container end --> 
                                </div><!-- .gallery-img end -->
                            </figure><!-- .gallery-item-container end -->
                        </li><!-- .isotope-item end -->

                        <li class="col-xs-6 col-md-4 isotope-item non-criminal">
                            <figure class="gallery-item-container">
                                <div class="gallery-img">
                                    <img src="img/pics/nonCriminalCase.jpg" class="img-responsive" alt="Saul Goodman Lawyer Case Photo"/>

                                    <div class="hover-mask-container">
                                        <div class="hover-zoom">
                                            <a href="/case_single?prevPage=cases">Case name
                                                <span class="icon-container">
                                                    <img src="img/svg/arrow.svg" class="img-responsive" alt="arrow icon"/>
                                                </span>
                                            </a>
                                        </div><!-- .hover-zoom end -->
                                    </div><!-- .hover-mask-container end --> 
                                </div><!-- .gallery-img end -->
                            </figure><!-- .gallery-item-container end -->
                        </li><!-- .isotope-item end -->

                        <li class="col-xs-6 col-md-4 isotope-item non-criminal">
                            <figure class="gallery-item-container">
                                <div class="gallery-img">
                                    <img src="img/pics/nonCriminalCase.jpg" class="img-responsive" alt="Saul Goodman Lawyer Case Photo"/>

                                    <div class="hover-mask-container">
                                        <div class="hover-zoom">
                                            <a href="/case_single?prevPage=cases">Case name
                                                <span class="icon-container">
                                                    <img src="img/svg/arrow.svg" class="img-responsive" alt="arrow icon"/>
                                                </span>
                                            </a>
                                        </div><!-- .hover-zoom end -->
                                    </div><!-- .hover-mask-container end --> 
                                </div><!-- .gallery-img end -->
                            </figure><!-- .gallery-item-container end -->
                        </li><!-- .isotope-item end -->

                        <li class="col-xs-6 col-md-4 isotope-item non-criminal">
                            <figure class="gallery-item-container">
                                <div class="gallery-img">
                                    <img src="img/pics/nonCriminalCase.jpg" class="img-responsive" alt="Saul Goodman Lawyer Case Photo"/>

                                    <div class="hover-mask-container">
                                        <div class="hover-zoom">
                                            <a href="/case_single?prevPage=cases">Case name
                                                <span class="icon-container">
                                                    <img src="img/svg/arrow.svg" class="img-responsive" alt="arrow icon"/>
                                                </span>
                                            </a>
                                        </div><!-- .hover-zoom end -->
                                    </div><!-- .hover-mask-container end --> 
                                </div><!-- .gallery-img end -->
                            </figure><!-- .gallery-item-container end -->
                        </li><!-- .isotope-item end -->
                        
                        <li class="col-xs-6 col-md-4 isotope-item specials">
                            <figure class="gallery-item-container">
                                <div class="gallery-img">
                                    <img src="img/pics/specialCase.jpg" class="img-responsive" alt="Saul Goodman Lawyer Case Photo"/>

                                    <div class="hover-mask-container">
                                        <div class="hover-zoom">
                                            <a href="/case_single?prevPage=cases">Case name
                                                <span class="icon-container">
                                                    <img src="img/svg/arrow.svg" class="img-responsive" alt="arrow icon"/>
                                                </span>
                                            </a>
                                        </div><!-- .hover-zoom end -->
                                    </div><!-- .hover-mask-container end --> 
                                </div><!-- .gallery-img end -->
                            </figure><!-- .gallery-item-container end -->
                        </li><!-- .isotope-item end -->

                        <li class="col-xs-6 col-md-4 isotope-item criminal">
                            <figure class="gallery-item-container">
                                <div class="gallery-img">
                                    <img src="img/pics/criminalCase.jpg" class="img-responsive" alt="Saul Goodman Lawyer Case Photo"/>

                                    <div class="hover-mask-container">
                                        <div class="hover-zoom">
                                            <a href="/case_single?prevPage=cases">Case name
                                                <span class="icon-container">
                                                    <img src="img/svg/arrow.svg" class="img-responsive" alt="arrow icon"/>
                                                </span>
                                            </a>
                                        </div><!-- .hover-zoom end -->
                                    </div><!-- .hover-mask-container end --> 
                                </div><!-- .gallery-img end -->
                            </figure><!-- .gallery-item-container end -->
                        </li><!-- .isotope-item end -->

                        <li class="col-xs-6 col-md-4 isotope-item specials">
                            <figure class="gallery-item-container">
                                <div class="gallery-img">
                                    <img src="img/pics/specialCase.jpg" class="img-responsive" alt="Saul Goodman Lawyer Case Photo"/>

                                    <div class="hover-mask-container">
                                        <div class="hover-zoom">
                                            <a href="/case_single?prevPage=cases">Case name
                                                <span class="icon-container">
                                                    <img src="img/svg/arrow.svg" class="img-responsive" alt="arrow icon"/>
                                                </span>
                                            </a>
                                        </div><!-- .hover-zoom end -->
                                    </div><!-- .hover-mask-container end --> 
                                </div><!-- .gallery-img end -->
                            </figure><!-- .gallery-item-container end -->
                        </li><!-- .isotope-item end -->

                    </ul><!-- #galleryitems.isotope end -->
                </div><!-- .row end -->
            </div><!-- .container-fluid end -->
        </div><!-- .page-content end -->

        <%- include('partials/getsupport.ejs') %>

        <%- include('partials/footer.ejs') %>

        <script src="js/jquery-2.1.4.min.js"></script><!-- jQuery library -->
        <script src="bootstrap/js/bootstrap.min.js"></script><!-- .bootstrap script -->
        <script src="js/jquery.scripts.min.js"></script><!-- modernizr, retina... -->  
        <script src="js/jquery.isotope.min.js"></script><!-- jQuery isotope plugin -->
        <script src="js/gallery.js"></script><!-- Gallery.js -->
		<script src="js/retina.js"></script><!-- retina script -->
        <script src="js/include.js"></script><!-- custom js functions -->

    </body>

</html>
